# Ignorar claves privadas y certificados
cmake-build-debug/server.key
server.csr
cmake-build-debug/server.crt

# Ignorar otros archivos generados
*.pem
*.p12
*.pfx

# Ignorar directorios temporales
temp/
*.log

# Ignorar archivos compilados y binarios
*.o
*.out
*.exe
*.so
*.a
*.dylib
